body {
  background-image: asset-url('pattern.png');
  background-repeat: repeat;
}



/* miscs */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
